<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>template &#8211; Piklist Support</title>
	<atom:link href="https://piklist.com/support/topic-tag/template/feed/" rel="self" type="application/rss+xml" />
	<link>https://piklist.com/support</link>
	<description>Get help with Piklist products</description>
	<lastBuildDate>Sat, 10 Jun 2017 21:50:56 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.5.8</generator>
	<item>
		<title>Piklist Default &#039;field&#039; Template &#8211; Grid Issue</title>
		<link>https://piklist.com/support/topic/piklist-default-field-template-grid-issue/</link>
		
		<dc:creator><![CDATA[conkid]]></dc:creator>
		<pubDate>Sat, 10 Jun 2017 21:50:56 +0000</pubDate>
				<guid isPermaLink="false">https://piklist.com/support/topic/piklist-default-field-template-grid-issue/</guid>

					<description><![CDATA[<p>Hi All, I cannot for the life of me understand why the following code is not working as expected to display properly in view with the default template: field. I am using the &#8216;field&#8217; template defined as: &#8220;field template for not showing label and 100% width&#8221; Below is my code but I cannot get the [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/piklist-default-field-template-grid-issue/">Piklist Default &#039;field&#039; Template &#8211; Grid Issue</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Hi All,</p>
<p>I cannot for the life of me understand why the following code is not working as expected to display properly in view with the default template: field.</p>
<p>I am using the &#8216;field&#8217; template defined as: &#8220;field template for not showing label and 100% width&#8221;</p>
<p>Below is my code but I cannot get the 2nd row to display properly with the grid.  It is as if the field is being moved to the default location it would be if there were still a label.</p>
<pre><code>&lt;?php
/*
Title: Details
Post Type: intranet_it_tickets
Priority: high
Context: normal
*/
 
piklist(&#039;field&#039;, array(
  &#039;type&#039; =&gt; &#039;group&#039;
  ,&#039;label&#039; =&gt; &#039;Ticket Details&#039;
  ,&#039;template&#039; =&gt; &#039;field&#039;
  ,&#039;fields&#039; =&gt; array(

  array(
    &#039;type&#039; =&gt; &#039;number&#039;,
    &#039;field&#039; =&gt; &#039;ticket_number&#039;,
    &#039;label&#039; =&gt; &#039;ID&#039;,
    &#039;columns&#039; =&gt; 2,
    &#039;attributes&#039; =&gt; array( // Pass HTML5 attributes in the attributes array
      &#039;placeholder&#039; =&gt; &#039;Ticket #&#039;,
      &#039;readonly&#039; =&gt; &#039;readonly&#039;
    )
  ),

    array(
     &#039;type&#039; =&gt; &#039;select&#039;
     ,&#039;field&#039; =&gt; &#039;ticket_user&#039;
     ,&#039;label&#039; =&gt; &#039;User&#039;
     ,&#039;columns&#039; =&gt; 2
     ,&#039;choices&#039; =&gt; array(
        &#039;&#039; =&gt; &#039;-Select-&#039;
      )
      + piklist(
       get_users(
         array(
          &#039;orderby&#039; =&gt; &#039;display_name&#039;
          ,&#039;order&#039; =&gt; &#039;asc&#039;
          ,&#039;exclude&#039; =&gt; &#039;2&#039;
         )
         ,&#039;objects&#039;
       )
       ,array(
         &#039;ID&#039;
         ,&#039;display_name&#039;
       )
      )
    ),

  array(
    &#039;type&#039; =&gt; &#039;select&#039;,
    &#039;field&#039; =&gt; &#039;ticket_priority&#039;,
    &#039;label&#039; =&gt; &#039;Priority&#039;,
    &#039;columns&#039; =&gt; 2,
    &#039;choices&#039; =&gt; array(
      &#039;&#039; =&gt; &#039;-Select-&#039;,
      &#039;priority_one&#039; =&gt; &#039;1 - Urgent - Critical Impact (Priority One)&#039;,
      &#039;priority_two&#039; =&gt; &#039;2 - High - Significant Impact (Priority Two)&#039;,
      &#039;priority_three&#039; =&gt; &#039;3 - Normal/Minor impact (Priority Three)&#039;,
      &#039;priority_four&#039; =&gt; &#039;4 - Low/Informational (Priority Four)&#039;,
    )
  ),

	array(
    &#039;type&#039; =&gt; &#039;datepicker&#039;
    ,&#039;field&#039; =&gt; &#039;ticket_start_date&#039;
    ,&#039;label&#039; =&gt; &#039;Start Date&#039;
    ,&#039;columns&#039; =&gt; 2
    ,&#039;attributes&#039; =&gt; array( // Pass HTML5 attributes in the attributes array
      &#039;required&#039; =&gt; &#039;required&#039;,
    )
  ),

	array(
    &#039;type&#039; =&gt; &#039;datepicker&#039;
    ,&#039;field&#039; =&gt; &#039;ticket_end_date&#039;
    ,&#039;label&#039; =&gt; &#039;End Date&#039;
    ,&#039;columns&#039; =&gt; 2
    ,&#039;attributes&#039; =&gt; array( // Pass HTML5 attributes in the attributes array
    )
  ),

  array(
    &#039;type&#039; =&gt; &#039;select&#039;,
    &#039;label&#039; =&gt; &#039;Ticket Details&#039;,
    &#039;field&#039; =&gt; &#039;ticket_support_type&#039;,
    &#039;columns&#039; =&gt; 2,
    &#039;choices&#039; =&gt; array(
      &#039;&#039; =&gt; &#039;-Select-&#039;,
      &#039;Hardware&#039; =&gt; &#039;Hardware&#039;,
      &#039;priority_two&#039; =&gt; &#039;2 - High - Significant Impact (Priority Two)&#039;,
      &#039;priority_three&#039; =&gt; &#039;3 - Normal/Minor impact (Priority Three)&#039;,
      &#039;priority_four&#039; =&gt; &#039;4 - Low/Informational (Priority Four)&#039;,
    )
  ),

    array(
     &#039;type&#039; =&gt; &#039;select&#039;
     ,&#039;field&#039; =&gt; &#039;ticket_owner&#039;
     ,&#039;label&#039; =&gt; &#039;Owner&#039;
     ,&#039;columns&#039; =&gt; 6
     ,&#039;choices&#039; =&gt; array(
        &#039;&#039; =&gt; &#039;Select&#039;
      )
      + piklist(
       get_users(
         array(
          &#039;orderby&#039; =&gt; &#039;display_name&#039;
          ,&#039;role__in&#039;   =&gt; array(&#039;information_technology&#039;, &#039;administrator&#039;)
          ,&#039;order&#039; =&gt; &#039;asc&#039;
          ,&#039;exclude&#039; =&gt; &#039;2&#039;
         )
         ,&#039;objects&#039;
       )
       ,array(
         &#039;ID&#039;
         ,&#039;display_name&#039;
       )
      )
    ),

        array(
     &#039;type&#039; =&gt; &#039;select&#039;
     ,&#039;field&#039; =&gt; &#039;ticket_owner&#039;
     ,&#039;label&#039; =&gt; &#039;Owner&#039;
     ,&#039;columns&#039; =&gt; 6
     ,&#039;choices&#039; =&gt; array(
        &#039;&#039; =&gt; &#039;Select&#039;
      )
      + piklist(
       get_users(
         array(
          &#039;orderby&#039; =&gt; &#039;display_name&#039;
          ,&#039;role__in&#039;   =&gt; array(&#039;information_technology&#039;, &#039;administrator&#039;)
          ,&#039;order&#039; =&gt; &#039;asc&#039;
          ,&#039;exclude&#039; =&gt; &#039;2&#039;
         )
         ,&#039;objects&#039;
       )
       ,array(
         &#039;ID&#039;
         ,&#039;display_name&#039;
       )
      )
    ),

    

	)
));

</code></pre>
<p><img src="https://ibb.co/ipckNa" alt="View" /></p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/piklist-default-field-template-grid-issue/">Piklist Default &#039;field&#039; Template &#8211; Grid Issue</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>limiting workflow to specific post ID or template</title>
		<link>https://piklist.com/support/topic/limiting-workflow-to-specific-post-id-or-template/</link>
		
		<dc:creator><![CDATA[mcmaster]]></dc:creator>
		<pubDate>Thu, 12 Nov 2015 04:14:37 +0000</pubDate>
				<guid isPermaLink="false">https://piklist.com/support/topic/limiting-workflow-to-specific-post-id-or-template/</guid>

					<description><![CDATA[<p>The site&#8217;s home page has all kinds of special features, so I defined three tabs to organize the chaos. Awesome! Even though it wasn&#8217;t in the documentation, I added &#8220;ID: 2&#8221; below the &#8220;Post Type: page&#8221; line, since it works with meta-boxes, and I am an optimistic sort. Oops, now all pages have special tabs [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/limiting-workflow-to-specific-post-id-or-template/">limiting workflow to specific post ID or template</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>The site&#8217;s home page has all kinds of special features, so I defined three tabs to organize the chaos. Awesome! </p>
<p>Even though it wasn&#8217;t in the documentation, I added &#8220;ID: 2&#8221; below the &#8220;Post Type: page&#8221; line, since it works with meta-boxes, and I am an optimistic sort. </p>
<p>Oops, now all pages have special tabs for home page features, though each just has an editor box as the home page meta-boxes are tagged with &#8220;ID: 2&#8221;. </p>
<p>I am really hoping I&#8217;m just goofing up here. Any chance that this is pilot error? And if so, is there a way to show tabs only for certain page templates as well? <img src="https://s.w.org/images/core/emoji/13.0.0/72x72/1f609.png" alt="😉" class="wp-smiley" style="height: 1em; max-height: 1em;" /></p>
<p>Thanks!<br />
Donna</p>
<p>Workflow file:</p>
<pre><code>&lt;?php
/*
Flow: Homepage Workflow
Page: post.php, post-new.php, post-edit.php, admin.php
Post Type: page
ID: 2
Header: true
Position: title
*/
</code></pre>
<p>One of the 3 tab files:</p>
<pre><code>&lt;?php
/*
Title: Features
Order: 10
ID: 2
Flow: Homepage Workflow
Default: true
*/</code></pre>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/limiting-workflow-to-specific-post-id-or-template/">limiting workflow to specific post ID or template</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Meta-boxes for template</title>
		<link>https://piklist.com/support/topic/meta-boxes-for-template/</link>
		
		<dc:creator><![CDATA[bows3r]]></dc:creator>
		<pubDate>Sat, 19 Sep 2015 10:44:29 +0000</pubDate>
				<guid isPermaLink="false">https://piklist.com/support/topic/meta-boxes-for-template/</guid>

					<description><![CDATA[<p>Hello, I have a problem. I want to display metaboxes on page edit on a certain template only. Let&#8217;s say that I have a template called page-templates/front-page.php. Then I have a piklist metabox that works fine with this code: /* Title: Front Page Info Boxes: Description: The four info boxes in the front page Post [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/meta-boxes-for-template/">Meta-boxes for template</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Hello,</p>
<p>I have a problem. I want to display metaboxes on page edit on a certain template only. Let&#8217;s say that I have a template called page-templates/front-page.php. Then I have a piklist metabox that works fine with this code:</p>
<p>/*<br />
Title: Front Page Info Boxes:<br />
Description: The four info boxes in the front page<br />
Post Type: page<br />
Order: 2<br />
*/</p>
<p>But when I try this it won&#8217;t display the metaboxes:<br />
/*<br />
Title: Front Page Info Boxes:<br />
Description: The four info boxes in the front page<br />
Post Type: page<br />
Template: page-templates/front-page<br />
Order: 2<br />
*/</p>
<p>The page I&#8217;m editing has been assigned to use front-page template and it is saved.<br />
This is what the page edit looks like (other metabox is not using the &#8220;Template: page-templates/front-page tag&#8221;</p>
<p>Why isn&#8217;t it working?</p>
<p>Yours,</p>
<p>Mika</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/meta-boxes-for-template/">Meta-boxes for template</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>template error not array</title>
		<link>https://piklist.com/support/topic/template-error-not-array/</link>
		
		<dc:creator><![CDATA[justin]]></dc:creator>
		<pubDate>Thu, 11 Jun 2015 16:59:23 +0000</pubDate>
				<guid isPermaLink="false">https://piklist.com/support/topic/template-error-not-array/</guid>

					<description><![CDATA[<p>I am trying to display a group I created in piklist on the front end, and I keep getting an error that my output is not in an array. Here is the group I created: piklist(&#039;field&#039;, array( &#039;type&#039; =&#62; &#039;group&#039; ,&#039;field&#039; =&#62; &#039;user_jobs_group&#039; ,&#039;add_more&#039; =&#62; true ,&#039;label&#039; =&#62; __(&#039;Jobs&#039;) ,&#039;columns&#039; =&#62; 12 ,&#039;description&#039; =&#62; &#039;Add [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/template-error-not-array/">template error not array</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>I am trying to display a group I created in piklist on the front end, and I keep getting an error that my output is not in an array. </p>
<p>Here is the group I created:</p>
<pre><code>
piklist(&#039;field&#039;, array(
    &#039;type&#039; =&gt; &#039;group&#039;
    ,&#039;field&#039; =&gt; &#039;user_jobs_group&#039;
    ,&#039;add_more&#039; =&gt; true
    ,&#039;label&#039; =&gt; __(&#039;Jobs&#039;)
	,&#039;columns&#039; =&gt; 12
    ,&#039;description&#039; =&gt; &#039;Add each job and history.&#039;
    ,&#039;fields&#039; =&gt; array(
		array(
        &#039;type&#039; =&gt; &#039;select&#039;
        ,&#039;field&#039; =&gt; &#039;user_job&#039;
        ,&#039;label&#039; =&gt; &#039;Job&#039;
        ,&#039;columns&#039; =&gt; 4
        ,&#039;choices&#039; =&gt; piklist(
						get_posts(
							array(
								&#039;post_type&#039; =&gt; &#039;post_jobs&#039;
								,&#039;orderby&#039; =&gt; &#039;title&#039;
								,&#039;order&#039; =&gt; &#039;asc&#039;
								,&#039;posts_per_page&#039; =&gt; -1
							)
							,&#039;objects&#039;
						)
						,array(
							&#039;ID&#039;
							,&#039;post_title&#039;
						)
						)
      )
	  ,array(
	  &#039;type&#039; =&gt; &#039;datepicker&#039;
	 ,&#039;field&#039; =&gt; &#039;user_job_start&#039;
	 ,&#039;label&#039; =&gt; &#039;Start&#039;
	 ,&#039;columns&#039; =&gt; 3
	,&#039;options&#039; =&gt; array(
	   &#039;dateFormat&#039; =&gt; &#039;yy-mm-dd&#039;
	   ,&#039;firstDay&#039; =&gt; &#039;0&#039;
	)
    )
	,array(
        &#039;type&#039; =&gt; &#039;radio&#039;
		,&#039;field&#039; =&gt; &#039;user_job_current&#039;
		,&#039;label&#039; =&gt; &#039;Current?&#039;
		,&#039;columns&#039; =&gt; 2
		,&#039;choices&#039; =&gt; array(
		  &#039;job_current&#039; =&gt; &#039;Current&#039;
		  ,&#039;job_old&#039; =&gt; &#039;Past&#039;
)
      )
	,array(
	  &#039;type&#039; =&gt; &#039;datepicker&#039;
	 ,&#039;field&#039; =&gt; &#039;user_job_end&#039;
	 ,&#039;label&#039; =&gt; &#039;End&#039;
	 ,&#039;columns&#039; =&gt; 3
	 ,&#039;conditions&#039; =&gt; array(
   array(
    &#039;field&#039; =&gt; &#039;user_job_current&#039;
    ,&#039;value&#039; =&gt; &#039;job_current&#039;
   )
 )
	,&#039;options&#039; =&gt; array(
	   &#039;dateFormat&#039; =&gt; &#039;yy-mm-dd&#039; 
	   ,&#039;firstDay&#039; =&gt; &#039;0&#039;
	)
    )
	)

  ));
</code></pre>
<p>Here is the array output:</p>
<pre><code>
Array (
 [0] =&gt; Array (
 [user_job] =&gt; Array ( [0] =&gt; 1486  [1] =&gt; 1128  ) 
 [user_job_start] =&gt; Array ( [0] =&gt; 2015-06-11 [1] =&gt; 2014-09-16 ) 
 [user_job_current] =&gt; Array ( [0] =&gt; Array ( [0] =&gt; job_current ) [1] =&gt; Array ( [0] =&gt; job_current ) ) 
 [user_job_end] =&gt; Array ( [0] =&gt; [1] =&gt; 2015-06-11 ) ) )
</code></pre>
<p>Here is my Template:</p>
<pre><code>
&lt;?php 
echo $data[&#039;user_job&#039;]; 
echo $data[&#039;user_job_start&#039;]; 
echo $data[&#039;user_job_current&#039;]; 
echo $data[&#039;user_job_end&#039;]; 
?&gt;
</code></pre>
<p>Here are the errors</p>
<pre><code>
Warning: array_keys() expects parameter 1 to be array, string given in /home/micdri10/EXTREMESOUTHAMERICA.COM/wp-content/plugins/piklist/includes/class-piklist.php on line 1336

Warning: Invalid argument supplied for foreach() in /home/micdri10/EXTREMESOUTHAMERICA.COM/wp-content/plugins/piklist/includes/class-piklist.php on line 346

Warning: Invalid argument supplied for foreach() in /home/micdri10/EXTREMESOUTHAMERICA.COM/wp-content/plugins/piklist/includes/class-piklist.php on line 354
</code></pre>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/template-error-not-array/">template error not array</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Meta Box Page Template?</title>
		<link>https://piklist.com/support/topic/meta-box-page-template/</link>
		
		<dc:creator><![CDATA[Jason]]></dc:creator>
		<pubDate>Fri, 28 Feb 2014 14:11:39 +0000</pubDate>
				<guid isPermaLink="false">http://piklist.com/support/topic/meta-box-page-template/</guid>

					<description><![CDATA[<p>I see the following in the docs: Template The file name of the Page Template you want this metabox to display. example: ‘Template: my-template.php’ I&#8217;m a bit confused what this does. I was hoping it would display the metabox if the page used that particular template, but that didn&#8217;t seem to work. So what exactly [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/meta-box-page-template/">Meta Box Page Template?</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>I see the following in the docs:</p>
<blockquote><p>Template<br />
The file name of the Page Template you want this metabox to display.<br />
example: ‘Template: my-template.php’</p></blockquote>
<p>I&#8217;m a bit confused what this does. I was hoping it would display the metabox if the page used that particular template, but that didn&#8217;t seem to work. So what exactly is this for?</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/meta-box-page-template/">Meta Box Page Template?</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></content:encoded>
					
		
		
			</item>
		<item>
		<title>Suggestion: Be able to add metaboxes field to a specific page</title>
		<link>https://piklist.com/support/topic/suggestion-be-able-to-add-metaboxes-field-to-a-specific-page/</link>
		
		<dc:creator><![CDATA[kattagami]]></dc:creator>
		<pubDate>Sat, 13 Oct 2012 12:30:17 +0000</pubDate>
				<guid isPermaLink="false">http://piklist.com/support/topic/suggestion-be-able-to-add-metaboxes-field-to-a-specific-page/</guid>

					<description><![CDATA[<p>Hello, I would like to suggest you for a futur release of Piklist the possibility to target a specific page with its slug to add a bunch of metaboxes in a specific way only for this page. The header code snippet would look like this: /* Title: My Demo Meta Box Post Type: page &#8216;slug&#8217; [&#8230;]</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/suggestion-be-able-to-add-metaboxes-field-to-a-specific-page/">Suggestion: Be able to add metaboxes field to a specific page</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></description>
										<content:encoded><![CDATA[<p>Hello,</p>
<p>I would like to suggest you for a futur release of Piklist the possibility to target a specific page with its slug to add a bunch of metaboxes in a specific way only for this page.</p>
<p>The header code snippet would look like this:</p>
<p>/*<br />
Title: My Demo Meta Box<br />
Post Type: page &#8216;slug&#8217;<br />
*/</p>
<p>The post <a rel="nofollow" href="https://piklist.com/support/topic/suggestion-be-able-to-add-metaboxes-field-to-a-specific-page/">Suggestion: Be able to add metaboxes field to a specific page</a> appeared first on <a rel="nofollow" href="https://piklist.com/support">Piklist Support</a>.</p>
]]></content:encoded>
					
		
		
			</item>
	</channel>
</rss>
