a,
a:visited {
  text-decoration: underline;
}
a[href]:after {
  content: "";
}
abbr[title]:after {
  content: "";
}
a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: "";
}

#secondary,
#breadcrumb,
.featured-image,
#respond,
.get-news,
#main-footer,
.bbp-reply-author,
.bbp-reply-form {
  display: none;
}



